.quarto/
.Rhistory
.DS_Store
.Rproj.user
pdf/
Chapters/position_magnitude/dot-plot-axes_files/
Chapters/ChoroplethMagnitude/ChoroplethMagnitude_files/
Chapters/axis-extension/axis-extension_files/

/.quarto/
